
*{
    margin: 0;
    padding: 0;


}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.odibee-sans-regular {
    font-family: "Odibee Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 
 
 body{
    justify-content: center;
    box-sizing: border-box;
 }




.title-name{
    
    text-align: center;
    font-size:50px;
    position: relative;
    top: 100px;
}

.main-header{
   
    background-color: #000000;
    height: 80px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    
}

.header-text{
    color: white;
    font-size: 40px;
    text-decoration: none;
    padding-left:40px;
}
a {
    transition: color .5s ease-in-out, background .5s ease-in-out;
}

li a:hover{
    background: linear-gradient(to right, #f32170 ,#cb08cb,  rgb(30,0,255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
.main-header-title{
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    
}

.nav-list{
    color: white;
    font-weight: 400px;
    list-style: none;
    display: flex;
    padding-right: 60px;
    text-decoration: none;
    
}

.navigation-bar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}
.nav-list li{
    margin: 10px;
    font-size: 40px;
}

a,
a label {
    cursor: pointer;
}

.img-overlay {
    position: relative; /* Ensure it can have a z-index */
    top: 130px;
    z-index: 10; /* Higher z-index */
    background-color: white; /* Optional: Ensure background is not transparent */
}

.image-div{
    display: flex;
    justify-content: center;
}



.typed-animation-text{
    font-family: "Odibee Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.element-div{
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.animated-gradient-text{
    background-image: linear-gradient(45deg, #f32170 ,#cb08cb,  rgb(30,0,255), #f32170, #cb08cb,  rgb(30,0,255));
    -webkit-background-clip:text;
    background-clip: text;
    color: transparent;

    background-size: 300%;
    background-position: -100%;
    animation: gradient-animated 10s infinite alternate-reverse;
}
@keyframes gradient-animated{
    from{
        background-position: 0%;
    }
    to{
        background-position: 100%;
    }
}



.projects-div{
    position: relative;
    top: 150px;
}

.links-section{
    position: relative;
    top: 160px;
    display: flex;
    justify-content: center;


}

button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin: 10px;
  }
  
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }

  .button_top:hover{
    cursor: pointer;
  }

  .projects-div{
    margin:40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, .5fr));
    grid-gap: 40px;
    justify-self: stretch;
   
    
    
  }

  .project-review{
    background-color: #d9d9d9;
    height: 400px;
    border-radius: .75em;
    transition: all .2s ease-in-out; 
    border: #000000 solid 2px;
    box-shadow: 12px 12px 2px 1px rgb(108, 101, 101);

  
  }

  .project-review:hover{
    transform: scale(1.1);
   
  }


  .project-h2{
    font-size: 30px;
    font-weight: 400;
    position: relative;
    top: 10px;
    left: 20px;
  }

  .project-h3{
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 10px;
    left: 20px;
  }

  .project-p{
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: 10px;
    left: 10px;
    
    padding: 10px;
    padding-top: 0;
  }

  .project-h3-1{
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 10px;
    left: 20px;
  }

  .project-h3-3{
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 10px;
    left: 20px;
  }

.Education-section{
    margin: 52px;
   position: relative;
   top: 150px;
}

.education-h1{
    font-size: 60px;
    font-weight: 400;
   
}

.education-p{
    font-size: 25px;
    z-index: 1;
    color: white;
}

.education-h2{
    z-index: 1;
    color: white;
}

.education-contentdiv{
    position: relative;
    left: 20px;
    top: 30px;
}

.education-h1div{
    margin-bottom: 20px;
}
@keyframes slide { 
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }

}


.logos{
    overflow: hidden;
    position: relative;
    bottom: 100px;
    padding-top: 20px;
    display: inline-flex;
    white-space: nowrap;
    width: 100%;
    
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}
.logos-slide {
    animation: slide 15s infinite linear;
}
.logos-slide img{
    height: 50px;
    margin: 20px;

}

.logos-slide img:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.project-githubbtn:hover{
    cursor: pointer;
}

.cert-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 52px;
    margin-right: 52px;
}
.cert-img{
    padding: 10px;
    padding-top: 30px;
}
.cert-img:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.cert-info{
    align-self: center;
    width: 1200px;
    padding: 10px;
    margin-left: 30px;
    background-color: #d9d9d9;
    border-radius: .75em;
    transition: all .2s ease-in-out; 
    border: #000000 solid 2px;
    box-shadow: 12px 12px 2px 1px rgb(108, 101, 101);
}
.cert-info:hover{
    transform: scale(1.1);
}   
.cert-info ul{
    font-size: 20px;
    list-style: none;
}

.cert-ul-point{
    background: linear-gradient(to right, #f32170 ,#cb08cb,  rgb(30,0,255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contact-sect{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background:white;
    display: flex;
    flex-direction: column;
    padding:2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;    
}

form h3{
    font-size: 2em;
    margin-bottom: 1em; 
}

form input,form textarea{
    border:0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background:#f5f5f5;
    font-size: 16px;
}



.contact-h1{
  margin-left: 52px;
  font-size: 60px;
}

.proj-img-background{
    background-color: white;
    height: 225px;
    width: 95%;
    position:relative;
    margin: 10px 5px 0 10px;
    border-radius: 10px;
    
}

.project-img{
    position: relative;
    left: 120px;
    top: 10px;
}